/* 
this patch will make all v2 nitro badges revert to the default nitro badge
in the future i might make a patch that also reverts the v2 popup to the v1 popup 
*/
img[src="https://cdn.discordapp.com/badge-icons/0334688279c8359120922938dcb1d6f8.png"],
img[src="https://cdn.discordapp.com/badge-icons/11e2d339068b55d3a506cff34d3780f3.png"],
img[src="https://cdn.discordapp.com/badge-icons/4514fab914bdbfb4ad2fa23df76121a6.png"],
img[src="https://cdn.discordapp.com/badge-icons/5b154df19c53dce2af92c9b61e6be5e2.png"],
img[src="https://cdn.discordapp.com/badge-icons/0d61871f72bb9a33a7ae568c1fb4f20a.png"],
img[src="https://cdn.discordapp.com/badge-icons/4f33c4a9c64ce221936bd256c356f91f.png"],
img[src="https://cdn.discordapp.com/badge-icons/2895086c18d5531d499862e41d1155a6.png"],
img[src="https://cdn.discordapp.com/badge-icons/cd5e2cfd9d7f27a8cdcd3e8a8d5dc9f4.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png");
}