.innerContainer_dfb989,
.gradient_dfb989 {
    all: unset !important;
    display: revert !important;
    font-family: "gg sans" !important;
}

.showEffect_dfb989.container_dfb989 .toon_dfb989:before,
.showEffect_dfb989.container_dfb989 .pop_dfb989:before {
    background: none !important;
}

.glowContainer_dfb989 {
    all: unset !important;
    display: none !important;
}

.cherryBomb__89a31,
.cherryBomb__89a31.safari__89a31,
.chicle__89a31,
.museoModerno__89a31,
.neoCastel__89a31,
.neoCastel__89a31.safari__89a31,
.pixelify__89a31,
.sinistre__89a31,
.zillaSlab__89a31 {
    font-family: "gg sans" !important;
    letter-spacing: normal !important;
}

/* fix issue with spacing post-fix */
.withDisplayNameStyles__20a53 {
    max-width: fit-content !important;
}