.innerContainer_dfb989,
.gradient_dfb989 {
    all: unset !important;
    display: revert !important;
    font-family: "gg sans" !important;
}

.cherryBomb__89a31,
.cherryBomb__89a31.safari__89a31,
.chicle__89a31,
.museoModerno__89a31,
.neoCastel__89a31,
.neoCastel__89a31.safari__89a31,
.pixelify__89a31,
.sinistre__89a31,
.zillaSlab__89a31 {
    font-family: "gg sans" !important;
    letter-spacing: normal !important;
}
